@import "../../style/variables";

$root: ".start-screen";

#{$root} {
  &_wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/img/start_bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .direction-board {
      position: absolute;
    }

    .snake-image {
      width: 16em;
      opacity: 0.9;
      height: auto;
    }

    .start-btn {
      color: $primary-bg-color;
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  &_heading {
    font-size: 5.92rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: $primary-bg-color;
    text-align: center;
    text-shadow: $text-shadow;
  }

  &_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5em;

    .btn-group-lg > .btn,
    .btn-lg {
      width: 14em;
      margin: 0.2em;
    }
    .btn.disabled,
    .btn:disabled {
      opacity: 1;
    }

    .info-icon {
      width: 1.2em;
      margin-left: 0.2em;
      cursor: pointer;
      margin-bottom: 1px;
    }
  }
}
