@import "../../style/variables";

$root: ".snake-game";

#{$root} {
  position: relative;

  &_restart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 5em;
  }

  &_wrapper {
    position: relative;
    background-image: url("../../assets/img/start_bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;

    .back {
      position: absolute;
      top: 1em;
      left: 1em;
      width: fit-content;
      border-radius: 50%;
      padding: 0.6em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: white;
      cursor: pointer;
    }
    .back:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
  }

  &_playground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    background-color: #444a3f;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 $box-shadow-color;
  }
  &_over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 32px;
    }
    .sub-title {
      font: 16px;
      letter-spacing: 1px;
      animation: score 1s ease-in-out infinite;
    }
    .score {
      font-size: 32px;
      margin-bottom: 15px;
    }
    @keyframes score {
      0% {
        color: blue;
      }
      50% {
        color: cadetblue;
      }
      100% {
        color: green;
      }
    }
  }
}
